.callback-form
    .container
      .callback-form__row
        .callback-form__content
          .callback-form__logo
            .logo.logo_light
              .logo__img: img(src="img/logo_light.svg", alt="")
              .logo__text PROMO<span>TOP</span>
          .callback-form__sep
          .callback-form__desc
            .h.h_m.h_light У вас еще Остались вопросы?
            .h-desc.h-desc_light Вы всегда можете оставить заявку по номеру  +7 (499) 755 71 99 или с помощью формы
        .callback-form__btn
          a(href="#").btn.btn_secondary Оставить заявку