.content-section
    .container
      .h-wrapper.mb-4
        .h-dec.h-dec_secondary: i.icm.icm-13
        .h.h_m Компания <span class="text-primary">PROMOTOP</span>
      .column-content.default-content
        p Сотрудничая с нами, Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга.
        p Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы бла бла текст еще текст все дела вобщем предлагаем ваще предлагаем.
        p Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга. Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы предлагаем.
        p Не сотрудничая с нами, Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга.
        p Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы бла бла текст еще текст все дела вобщем предлагаем ваще предлагаем.
        p Сотрудничая с нами, Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга.
        p Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы бла бла текст еще текст все дела вобщем предлагаем ваще предлагаем.
        p Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга. Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы предлагаем.
        p Не сотрудничая с нами, Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга.
        p Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы бла бла текст еще текст все дела вобщем предлагаем ваще предлагаем.