footer.main-footer
  .container
    .row.main-footer__row
      .col-auto.d-none.d-lg-block
        nav.footer-nav
          a(href="#").footer-nav__link Главная
          a(href="#").footer-nav__link Услуги
          a(href="#").footer-nav__link о нас
          a(href="#").footer-nav__link отзывы
          a(href="#").footer-nav__link портфолио
          a(href="#").footer-nav__link Контакты
      .col.col-lg-auto
        .footer-copyright Copyright © «PROMOTOP» 2018 Все права защищены.