-var headerClass = '';
-if(headerFixed) headerClass = 'main-header_fixed'
header.main-header(class=headerClass)
  .main-header__top
    .header-top
      .container
        .row.header-top__row
          .col
            .row.header-top__row-left
              .col-auto.header-top__address
                .ico-text
                  .ico-text__ico: i.fa 
                  span Москва, Подъёмный пер., д.14, стр.11 
              .col-auto.header-top__social
                ul.social
                  li.social__item: a(href="#").social__link: i.fa            
                  li.social__item: a(href="#").social__link: i.fa 
                  li.social__item: a(href="#").social__link: i.fa 
                  li.social__item: a(href="#").social__link: i.fa        
                  li.social__item: a(href="#").social__link: i.fa 
          .col
            .row.header-top__row-right
              .col-auto.header-top__email
                  .ico-text
                    .ico-text__ico: i.fa 
                    span info@promotop.moscow
              .col-auto.header-top__phone
                  .ico-text
                    .ico-text__ico: i.fa 
                    span +7 (499) 755-71-99
              .col-auto.header-top__feedback
                  a(href="#").btn.btn_secondary Заказать звонок
  .main-header__main
    .header-main
      .container
        .row.header-main__row
          .col-auto: .header-main__logo
            a(href="/").logo
              .logo__img: img(src="img/logo.svg", alt="PROMOTOP")
              .logo__text PROMO<span>TOP</span>
          .col-auto: .header-main__nav
            nav.main-nav
              a(href="#").main-nav__link  Главная
              a(href="#").main-nav__link  Услуги
              a(href="#").main-nav__link  о нас
              a(href="#").main-nav__link  отзывы
              a(href="#").main-nav__link  портфолио
              a(href="#").main-nav__link  Контакты
          .col-auto.d-lg-none.d-flex.align-items-center
            a.btn.btn_secondary.mr-2(data-responsive-ico='') Заказать звонок
            button.mobile-nav-btn
              span
              span
              span
              
              
              
              
              
              