.services
    .container.services__container
      .h-wrapper
        .h-dec: i.icm.icm-13
        .h.h_m Наши услуги
        .h-desc Сделайте выбор из комплекса предоставляемых услуг
      .row.services__row
        mixin serviceItem(ico, name, desc)
          .col-12.col-sm-6.col-lg-4.services__col
            .service-item
              .service-item__ico: i.icm(class=ico)
              .service-item__name=name
              .service-item__desc=desc
        +serviceItem(
          'icm-12', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-4', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-9', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-6', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-2', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-5', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-3', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-7', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')
        +serviceItem(
          'icm-8', 
          'Продвижение сайта по позициям',
          'Продвижение по определенной выборке запросов, входящих в семантическое ядро')