extends _template
block config
  title Услуги
  -var headerFixed = false;
block main
  .contacts-map
    img(src="img/map.jpg", alt="")
  .contacts-bottom
    .container
      .row
        .col-md-6.mb-4.mb-md-0
          form(action="#").contacts-form
            .contacts__header Свяжитесь с нами
            .contacts-form__row
              .contacts-form__col: input(type="text" placeholder="Ваше имя").input
              .contacts-form__col: input(type="text" placeholder="Ваш телефон").input
            .contacts-form__row
              .contacts-form__col
                textarea.textarea(placeholder="Ваше сообщение")
            .contacts-form__row
              .contacts-form__col
                 button.btn.btn_secondary Заказать звонок
        .col-md-6
          .contacts__header Контакты
          .contacts-table.mb-3
            .contacts-table__row
              .contacts-table__name 
                i.fa 
                b Адрес:
              .contacts-table__val Москва, Подъёмный пер., д.14, стр.11 
            .contacts-table__row
              .contacts-table__name 
                i.fa 
                b Телефон:
              .contacts-table__val +7 (499) 755-71-99
            .contacts-table__row
              .contacts-table__name 
                i.fa 
                b E-mail:
              .contacts-table__val info@promotop.moscow
          .contacts__header.mb-2 Социальные сети
          ul.social.social_dark
            li.social__item: a(href="#").social__link: i.fa            
            li.social__item: a(href="#").social__link: i.fa 
            li.social__item: a(href="#").social__link: i.fa 
            li.social__item: a(href="#").social__link: i.fa        
            li.social__item: a(href="#").social__link: i.fa 