extends _template
block config
  -var headerFixed = true;
block main
  .home-first
    .home-first__container
      .home-first__main
        .container
          .home-first__header 
            span.text-primary Эффективное 
            | продвижение <br> сайта в <span class="text-primary">интернете</span>
          .home-first__desc Способствуем увеличению прибыли от Вашего бизнеса за счёт <br> привлечения новых клиентов и повышения продаж
          .home-first__btn
            a(href="#").btn.btn_secondary Заказать звонок
      .home-first__bottom
        .home-first__bottom-inner: .container
          .row 
            .col
              .home-feature
                .home-feature__header
                  .home-feature__ico: i.icm.icm-1
                  .home-feature__name Комплексный подход
                .home-feature__desc Рост посещаемости, конверсии и работоспособности сайта
            .col
              .home-feature
                .home-feature__header
                  .home-feature__ico: i.icm.icm-10
                  .home-feature__name Квалификация и опыт
                .home-feature__desc Богатый опыт в сфере интернет-маркетинга гарантирует эффективное продвижение сайта
            .col
              .home-feature
                .home-feature__header
                  .home-feature__ico: i.icm.icm-11
                  .home-feature__name Лояльные цены
                .home-feature__desc Ответственный индивидуальный подход и лояльная ценовая политика.
  .reviews
    .container
      .h-wrapper
        .h-dec.h-dec_secondary: i.icm.icm-13
        .h.h_m.h_light Отзывы о нашей работе
        .h-desc.h-desc_light Что думают реальные клиенты о нас
      .reviews-slider-container
        .reviews-slider-container__nav(data-prev)
        .reviews-slider-container__slider
          .swiper-container.reviews-slider(data-swiper="reviews")
            .swiper-wrapper.reviews-slider__wrapper
              .swiper-slide.reviews-slider__item
                .review-item
                  .review-item__photo: img(src="img/review1.jpg", alt="")
                  .review-item__content
                    .review-item__post Генеральный директор
                    .review-item__name Гарин Владимир  
                    .review-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, debitis. Sapiente quasi nobis itaque alias dicta optio qui minus necessitatibus, ab totam nihil nulla dolor porro odio deserunt, repellendus vitae?
              .swiper-slide.reviews-slider__item
                .review-item
                  .review-item__photo: img(src="img/review2.jpg", alt="")
                  .review-item__content
                    .review-item__post Генеральный директор
                    .review-item__name Гарин Владимир 
                    .review-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, debitis. Sapiente quasi nobis itaque alias dicta optio qui minus necessitatibus, ab totam nihil nulla dolor porro odio deserunt, repellendus vitae?
              .swiper-slide.reviews-slider__item
                .review-item
                  .review-item__photo: img(src="img/review3.jpg", alt="")
                  .review-item__content
                    .review-item__post Генеральный директор
                    .review-item__name Гарин Владимир  
                    .review-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, debitis. Sapiente quasi nobis itaque alias dicta optio qui minus necessitatibus, ab totam nihil nulla dolor porro odio deserunt, repellendus vitae?
              .swiper-slide.reviews-slider__item
                .review-item
                  .review-item__photo: img(src="img/review1.jpg", alt="")
                  .review-item__content
                    .review-item__post Генеральный директор
                    .review-item__name Гарин Владимир  
                    .review-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, debitis. Sapiente quasi nobis itaque alias dicta optio qui minus necessitatibus, ab totam nihil nulla dolor porro odio deserunt, repellendus vitae?
              .swiper-slide.reviews-slider__item
                .review-item
                  .review-item__photo: img(src="img/review2.jpg", alt="")
                  .review-item__content
                    .review-item__post Генеральный директор
                    .review-item__name Гарин Владимир 
                    .review-item__text 1 ipsum dolor sit amet consectetur adipisicing elit. Adipisci, debitis. Sapiente quasi nobis itaque alias dicta optio qui minus necessitatibus, ab totam nihil nulla dolor porro odio deserunt, repellendus vitae?
              .swiper-slide.reviews-slider__item
                .review-item
                  .review-item__photo: img(src="img/review3.jpg", alt="")
                  .review-item__content
                    .review-item__post Генеральный директор
                    .review-item__name Гарин Владимир  
                    .review-item__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, debitis. Sapiente quasi nobis itaque alias dicta optio qui minus necessitatibus, ab totam nihil nulla dolor porro odio deserunt, repellendus vitae?
        .reviews-slider-container__nav(data-next)
      .reviews-slider__content “ ПромоТоп нам делали и продвигают сайт в Яндексе и Google. К работе компании претензий нет, все нравится, всем довольны. Что касается продвижения, результат стал виден в органической выдаче поисковых систем уже через полтора месяца! ”
      .slider-pagination
  include blocks/services
  include blocks/callback
  .section
    .container
      .row.align-items-center
        .col
          .h-dec.h-dec_secondary: i.icm.icm-13
          .h.h_l Компания <span class="text-primary">PROMOTOP</span>
          .default-content.mb-4
            p Сотрудничая с нами, Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга.
            p Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы предлагаем.
            p Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга. Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы предлагаем.
            p Не сотрудничая с нами, Вы получаете качественное продвижение сайта в поисковых системах, а также комплекс сопутствующих услуг интернет-маркетинга.
            p Нацеленность на результат, компетентность сотрудников и методология seo-мероприятий – это то, что мы предлагаем.
          a(href="#").btn.btn_primary.btn_sm Смотреть портфолио
        .col.d-none.d-lg-block
          img(src="img/computer.png", alt="").img-full
          