extends _template
block config
  title Услуги
  -var headerFixed = false;
block main
  +breadcrumbs(['Услуги', 'Продвижение сайта по позициям'])
  .container
    .h-wrapper
      .h-dec: i.icm.icm-13
      .h.h_m Портфолио наших проектов
      .h-desc Sed condimentum ante ac quam varius pretium
  .sep
  .ovh: .container
    .portfolio-slider.swiper-container(data-swiper="portfolio")
      .portfolio-slider__wrapper.swiper-wrapper
        -for(var i = 0; i<5;i++)
          .portfolio-slider__item.swiper-slide
            .portfolio-item(style="background-image: url(img/souz-image.jpg)")
              .portfolio-item__number
              .portfolio-item__params
                .portfolio-item__header
                  span.portfolio-item__icon: img(src="img/souz-logo.png", alt="")
                  span.portfolio-item__name СТОМАТОЛОГИЧЕСКАЯ КЛИНИКА «СОЮЗ»
                .portfolio-item__desc Продвижение по России по 59 запросам
                a(href="#").portfolio-item__link www.soyz32.ru
                .labels
                  .labels__item
                    a(href="#").label Аудит сайта
                  .labels__item
                    a(href="#").label Продвижение по позициям
                  .labels__item
                    a(href="#").label Сопровождение сайта
                ul.props.mb-2
                  li
                    span Отбеливание зубов:  
                    b.text-primary 1
                  li
                    span Стоматологическая клиника: 
                    b.text-primary 1
                  li
                    span Имплантация зубов: 
                    b.text-primary 1
                .seo
                  .seo__props
                    .seo-props
                      span.text-primary Посещаемость +92 %
                      span.text-secondary Запросы в Топ 10  71 %
                    .slider-nav
                      .slider-nav__btn(data-prev)
                      .slider-nav__btn(data-next)
                  .seo__chart
                    .seo-chart
  include blocks/callback
  include blocks/column-content