extends _template
block config
  title Услуги
  -var headerFixed = false;
block main
  +breadcrumbs(['Услуги', 'Продвижение сайта по позициям'])
  .container
    .h-wrapper
      .h-dec: i.icm.icm-13
      .h.h_m Наши услуги
      .h-desc Сделайте выбор из комплекса предоставляемых услуг
  .sep
  .service
    .container
      .service__ico: i.icm.icm-12
      .service__row
        .service__col
          .service-features
            .service-features__item
              .service-feature
                .service-feature__ico: i.icm.icm-16
                .service-feature__content
                  .service-feature__name Персонализированная выдача
                  .service-feature__desc У каждого пользователя свои результаты на основании сайтов, посещенных ранее
            .service-features__item
              .service-feature
                .service-feature__ico: i.icm.icm-15
                .service-feature__content
                  .service-feature__name Региональная выдача
                  .service-feature__desc Пользователи из разных населенных пунктов видят различные результаты по одному и тому же запросу
            .service-features__item
              .service-feature
                .service-feature__ico: i.icm.icm-14
                .service-feature__content
                  .service-feature__name Поисковые подсказки
                  .service-feature__desc Появляются при наборе запроса и способствуют перераспределению поискового трафика. 
        .service__col          
          .service__desc.default-content
            p Продвижение сайта по позициям на сегодняшний день является одной из самой широко известных и распространенных услуг на рынке поисковой оптимизации. Прежде всего это связано с простотой оценки достигнутых результатов, достаточно набрать требуемый запрос и убедиться есть ли ваш сайт в топе.
            p С развитием поисковых систем и алгоритмов появилось множество нюансов, из-за которых оценка достигнутых результатов стала не такой очевидной. В настоящий момент два компьютера, находящиеся в одном офисе, могут показывать разные результаты по одному и тому же поисковому запросу. 
            p Наши методы поискового продвижения основаны исключительно на рекомендациях самих поисковиков. Мы работаем не создавая мифов и секретов для своих клиентов.
            p Минимально-рекомендуемый срок сотрудничества при продвижении сайта по позициям составляет 6 месяцев. На достижение лидирующих позиций по основным запросам уходит не менее 3-х месяцев, первые результаты вполне ожидаемы в течение нескольких недель.
            p Следует учесть, что реальные сроки вывода сайта в топ всегда индивидуальные и разные. 
  include blocks/callback
  include blocks/column-content