@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_bootstrap-grid";

$primary: #236fbd;
$secondary: #73d453;
$headerColor: #2f3238;  
$dark: #2f3238;
$grey: #f2f2f2;
$btnBdrs: 9999px;


html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: $white;
    font-family: $ff-primary;
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: #4d6273;
    font-size: 1.3rem;
    line-height: (18 / 13);
}
.main-header{
    min-width: 320px;
}
.page{
    animation: fadeIn .4s
}
.ovh{
    overflow: hidden;
}
/*-------------------------------------------------*/
/*  START: helpers */
/*-------------------------------------------------*/
.img-full{
    width: 100%;
}
.ta-center{
    text-align: center;
}
.ns{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.off-link{
    text-decoration: none;
    color: inherit;
}
.text{
    &-primary{
        color: $primary;
    }
    &-secondary{
        color: $secondary;
    }
}
/*-------------------------------------------------*/
/*  END: helpers */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: ui */
/*-------------------------------------------------*/

.input, .textarea{
    height: 4.2rem;
    width: 100%;
    border:none;
    background: none;
    background-color: #f2f2f2;
    &::placeholder{
        color: #a3b2bf;
        padding: 1.5rem;
    }
}
.textarea{
    height: 7.7rem;
}

.section{
    padding: 16rem 0;
}

.h{
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1.2rem;
    &_light{
        color: #ffffff;
    }
    color: $headerColor;
    &_xl{
        font-size: 3.4rem;
    }
    &_l{
        font-size: 2.8rem;
    }
    &_m{
        font-size: 2.5rem;
    }
    &-dec{
        font-size: 1.7rem;
        margin-bottom: 2.3rem;
        color: $primary;
        &_secondary{
            color: $secondary;
        }
    }
    &-desc{
        letter-spacing: em(.33, 13);
        color: #4d6273;
        &_light{
            color: #ced4d9;
        }
    }
    &-wrapper{
        text-align: center;
        margin-bottom: 5.6rem;
    }
}

.btn{
    @extend .off-link;
    border:none;
    text-decoration: none;
    border-radius: $btnBdrs;
    padding: .5rem 3.2rem;
    min-height: 3.6rem;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all .1s;
    text-transform: uppercase;
    padding-top: calc(.4rem + 0.35em);
    letter-spacing: em(.28, 11);
    &_secondary{
        color: white;
        background-color: $secondary;
        &:hover{
            background-color: $primary;
        }
    }
    &_primary{
        color: white;
        background-color: $primary;
        &:hover{
            background-color: $secondary;
        }
    }
    &_sm{
        font-size: 1.1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


.ico-text{
    display: inline-flex;
    align-items: center;
    &__ico{
        margin-right: 0.9rem;
    }
}

.social{
    display: inline-flex;
    @extend .ns;
    &__item{
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        background: $white;
        color: $dark;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        transition: all .3s;
        &:not(:last-child){
            margin-right: 0.9rem;
        }
        &:hover{
            color: $primary;
        }
    }
    &__link{
        @extend .off-link;
        font-size: 1.3rem;
        line-height: 1;
        display: inline-block;
        .fa{
            vertical-align: top;
        }
    }
    &_dark{
        .social{
            &__item{
                background-color: #2f3238;
                color: white;
                &:Hover{
                    background-color: $primary;
                }
            }
        }
    }
}

.content-section{
    padding: 8rem 0rem 10rem;
}

.default-content{
    letter-spacing: em(0.33, 13);
    p,ul,ol{
        margin: 1.8rem 0;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.column-content{
    columns: 2;
    column-gap: 5.7rem;
    text-align: justify;
    >*{
        display: inline-block;
        margin: .9rem 0 !important;
    }
}
/*-------------------------------------------------*/
/*  END: ui */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: elements */
/*-------------------------------------------------*/
/*-- START: mobile nav --*/
.mobile-nav{
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 20;
	box-shadow: 0 0 30px grey;
	top:0;
	left: 0;
	background: white;
	height: 100%;
	overflow: auto;
	width: 260px;
    transition: transform .3s;
    color: black;
    &__link{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.2rem !important;
        padding-top: .8rem !important;
        padding-bottom: .8rem !important;
    }
    .social{
        &__item{
            .fa{
                color: white;
            }
            background-color: #2f3238;
            &:hover{
                background-color: $primary;
            }
        }
    }
    &__section{
        &_add1,
        &_add2{
            border-top: none !important;
        }
        &_add1{
            padding: 0 !important;
        }
        .fa{
            color: $secondary;
            width: 1em;
            text-align: center;
        }
    }
	&-btn{
		background: none;
		border:none;
		padding:0;
		span{
			width: 26px;
			height: 4px;
			border-radius: 4px;
			display: block;
			background: $primary;
			transition: all .3s;
			&:not(:first-child){
				margin-top: 4px;
			}
		}
		&.active{
			span{
				&:nth-child(1){
					transform: translate(0px,8px) rotate(45deg);
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					transform: translate(0px,-8px) rotate(-45deg);
				}
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
	&:not(.active){transform: translate(-150%,0)}
	&__parent{
		position: relative;
	}
	&__list,&__dropdown{
		@extend .ns;
		&-toggler{
			background:none;
			position: absolute;
			padding: 5px;
			border:none;
			right: 2rem;
			top: 1rem;
			&:before{
				content: '';
				display: block;
				border: 5px solid transparent;
				border-top-color: $black;
				border-top-width: 7px;
				transform: translate(0,3px);
			}
		}
	}
	&__dropdown:not(.active){
		display: none;
	}
	&__dropdown{
		padding-left: 1rem;
		font-size: 0.9em;
		.mobile-nav__link{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
	&__section{
		padding: 1rem 0;
		&:not(:first-child){
			border-top: 1px solid rgba(black ,.3);
		}
		&_1{
			text-transform: uppercase;
		}
	}
	&__link{
		display: block;
		padding: 1rem 3rem;
		text-decoration: none;
		color: inherit;
	}
}
/*-- END: mobile nav --*/

.main-header{
    animation: fadeInDown .5s;
    position: relative;
    z-index: 1;
    &_fixed{
        position: absolute;
        left: 0;right: 0;
        top: 0;
        z-index: 10;
    }
}

.logo{
    display: flex;
    align-items: center;
    @extend .off-link;
    &__img{
        margin-right: 1rem;
        transform: translate(0,-.3rem);
    }
    &__text{
        font-size: 2rem;
        font-weight: 900;
        span:last-child{
            color: $primary;
        }
    }
    &_light &__text{
        color: white;
        span{
            color: #ccc;
        }
    }
}

.header-top{
    background-color: $dark;
    color: $white;
    padding: .8rem 0;
    .ico-text{
        font-size: 1.3rem;
        opacity: 0.85;
    }
    &__row{
        align-items: center;
        &-left, &-right{
            align-items: center;
        }
        &-right{
            justify-content: flex-end;
        }
        &-left{
            justify-content: space-between;
        }
    }
    &__feedback{
        font-size: 1.3rem;
        align-items: center;
        
        line-height: 1;
        .btn{
            padding: 0.5rem 1.4rem;
            min-height: 2.5rem;
            text-transform: none;
        }
    }
}

.header-main{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 3rem 0;
    background: rgba(white, .7);
    &__row{
        align-items: center;
        justify-content: space-between;
    }
}

.main-nav{
    &__link{
        @extend .off-link;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.3rem;
        &:not(:last-child){
            margin-right: 3.5rem;
        }
        &:hover{
            color: $primary;
        }
    }
}

.home-first{
    background-image: url('../img/home-first-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    &__container{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: height .4s;
        min-height: 75rem;
        max-height: 1080px;
    }
    &__main{
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: 3rem 0;
        
    }

    &__header{
        font-size: 3.4rem;
        font-weight: 900;
        color: $headerColor;
        text-transform: uppercase;
        line-height: (46 / 30);
        letter-spacing: em(0.85, 30);
        margin-bottom: 2.5rem;
    }
    &__desc{
        font-size: 1.4rem;
        margin-bottom: 3rem;
        line-height: (20 / 14);
    }
    &__bottom{
        flex: 0 1 auto;
        animation: fadeInUp .4s;
        &-inner{
            background-color: rgba(white,.815);
            padding: 3rem 0 4rem;
        }
        &:before{
            content: '';
            font-size: 16px;
            height: em(162);
            background-size: em(1920) em(162);
            background-image: url('../img/home-first-bottom.png');
            display: block;
            background-position: center center;
        }
    }
}

.home-feature{
    &__desc{
        line-height: (18 / 13);
    }
    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }   
    &__ico{
        font-size: 3rem;
        margin-right: 1.2rem;
        color: $primary;
        line-height: 1;
    }
    &__name{
        font-size: 2rem;
        font-weight: 900;
    }
}

.reviews{
    background-image: url('../img/review-bg.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 7rem 0 8rem;
    .slider-pagination{
        text-align: center;
        .swiper-pagination-bullet{
            height: 4px;
            width: 15px;
            border-radius: 0;
            background-color: #aaaeb2;
            margin: 0 .3rem;
            &-active{
                background: $secondary;
            }
        }
    }
}

.reviews-slider{
    
    border-radius: 99999px;
    &__wrapper{
    }
    &__content{
        text-align: center;
        font-size: 1.4rem;
        line-height: (20 / 14);
        max-width: 83.2rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
 
}
.reviews-slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.4rem;
    &__slider{
        max-width: 40rem;
        flex: 0 0 40rem;
        margin:  auto 2.2rem;
    }
    &__nav{
        width: 13.6rem;
        height: 13.6rem;
        background: white;
        border-radius: 50%;
        display: inline-block;
        flex: 0 1 auto;
        border: 5px solid rgba(45, 71, 86, 0.5);
        background-size: cover;
        background-position: center center;
        cursor: pointer;
    }
}
.review-item{
    display: flex;
    border-radius: 9999px;
    align-items: center;
    color: $headerColor;
    padding-top: 1px;
    padding-bottom: 1px;

    background: white;
    &__content{
        padding-right: 4rem;
        padding-left: 2rem;
        transition: all .3s;
        text-align: left;
        animation: fadeIn .4s;
        
    }
    &__post{
        color: $primary;
        margin-bottom: 1rem;

    }
    &__name{
        line-height: 1;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.6rem;
        letter-spacing: em(.4, 16);
    }
    &__photo{
        border-radius: 50%;
        display: inline-block;
        width: 13.6rem;
        height: 13.6rem;
        position: relative;
        margin: -1px;
            &:after{
                content: '';
                position: absolute;
                border: 5px solid white;    
                
                display: block;
                top:    -1px;
                right:  -1px;
                bottom: -1px;
                left:   -1px;
                z-index: 1;
                border-radius: 50%;
            }
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &__text{
        display: none;
    }
}

.services{
    background-color: #F2F2F2;
    padding: 7.7rem 0 8rem;
    &__container{
        padding: 0 2rem;
    }
    &__row{
        margin: 0 -2rem;
    }
    &__col{
        margin-bottom: 4rem;
        padding: 0 2rem;
        &:nth-child(odd){
            .service-item__ico{
                background: $secondary;
            }
        }
    }
}

.service-item{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 3.8rem;
    &__ico{
        width: 8.8rem;
        height: 8.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: $primary;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 3.7rem;
        margin-bottom: 2.2rem;
        .icm{
            display: inline-block;
        }
    }
    &__name{
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $headerColor;
        font-weight: 900;
        margin-bottom: 2rem;
        text-align: center;
        line-height: (22 / 16);
    }
    &__desc{
        text-align: center;
        
    }
}

.callback-form{
    background-image: url('../img/callback-form.jpg');
    background-size: cover;
    background-position: top center;
    padding: 11rem 0;
    &__logo{
        .logo{
            &__text{
                font-size: 2.5rem;
                letter-spacing: .02em;
            }
        }
    }
    &__content{
        flex-basis: 75.5%;
        margin-right: 2rem;
    }
    &__sep{
        flex: 0 0 1px;
        min-width: 1px;
        height: 6rem;
        display: block;
        background: white;
        margin: 0 5.4rem;
    }
    &__row, &__content{
        display: flex;
        align-items: center;
    }
    &__btn{
        flex: 0 1 auto;
        margin-left: auto;
        font-size: 1.2rem;
    }
    .h{
        margin-bottom: .4rem;
        
    }
}

.main-footer{
    background-color: $dark;
    color: white;
    padding: 3.8rem 0;
    &__row{
        justify-content: space-between;
    }
}
.footer-copyright{
    color: #ced4d9;
}
.footer-nav{
    &__link{
        @extend .off-link;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: color .3s;
        &:not(:last-child){
            margin-right: 3rem;
        }
        &:hover{
            color: $secondary;
        }
    }
}

.breadcrumbs{
    @extend .ns;
    font-size: 0;
    display: inline-flex;
    align-items: center;
    overflow: auto;
    background: transparent;
    position: absolute;
    height: 3.6rem;
    white-space: nowrap;
    max-width: 100%;
    &-container{
        position: relative;
        &+*{
            padding-top: 4.5rem;
        }
    }
    &__item{
        display: inline-block;
        font-size: 1.3rem;
        
        &:not(:last-child){
            &:after{
                content: '/';
                display: inline-block;
                margin: 0 .3rem;
            }
        }
    }
    &__link{
        @extend .off-link;
    }
}

.sep{
    overflow: hidden;
}

.service{
    background-color: $grey;
    padding: 8rem 0 9rem;
    position: relative;
    margin-top: 3.3rem;
    &__ico{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6.6rem;
        height: 6.6rem;
        border: 3px solid #c5e0e8;
        background-color: #73d453;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.1rem;
    }
    &__row{
        display: flex;
    }
    &__col{
        &:first-child{
            flex: 0 0 51rem;
            padding-right: 9rem;
        }
    }
}
.service-features{
    &__item{
        &:not(:first-child){
            margin-top: 3.8rem;
        }
    }
}
.service-feature{
    display: flex;
    align-items: center;
    &__name{
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    &__desc{
        line-height: (20 / 13);
    }
    &__ico{
        width: 8rem;
        height: 8rem;
        flex: 0 0 8rem;
        margin-right: 1.9rem;
        background: white;
        border-radius: 50%;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        color: $secondary;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 2.6rem;
        .icm{
            display: inline-block;
        }
    }
}

.portfolio-slider{
    margin-bottom: 12rem;
    counter-reset: numbers;
    overflow: visible;
    .swiper-slide{
        transition: opacity .3s;
    }
    .swiper-slide:not(.swiper-slide-active){
        opacity: 0;
    }
    &__item{
        counter-increment: numbers;
    }
}

.portfolio-item{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 3.5rem;
    &__number{
        position: absolute;
        width: 5rem;
        height: 5rem;
        border: 3px solid #c5e0e8;
        background-color: #73d453;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: counter(numbers);
        }
    }
    &__params{
        display: inline-block;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        flex: 0 0 36rem;
        min-width: 36rem;
        padding: 3.2rem;
        box-sizing: border-box;
    }
    &__header{
        display: flex;
        margin-bottom: 1.7rem;
    }
    &__icon{
        margin-right: 2rem;
    }
    &__name{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.7rem;
    }
    &__desc{
        color: #4d6273;
        margin-bottom: 1.5rem;
    }
    &__link{
        text-transform: uppercase;
        color: $primary;
        font-weight: 900;
        text-decoration: none;
    }
}
.labels{
    margin: 1rem -.5rem;
    &__item{
        display: inline-block;
        margin: .5rem .25rem;
    }
}
.label{
    display: inline-block;
    background: $grey;
    line-height: 1;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: #2f3238;
    font-weight: 900;
    transition: all .1s;
    &:hover{
        background: darken($grey, 5%)
    }
}

.props{
    font-size: 1.4rem;
    @extend .ns;
    li{
        margin: 0.4rem 0;
    }
}

.seo{
    display: flex;
    &-props{
        font-weight: 900;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        line-height: (22 / 12);
        margin-bottom: 3rem;
    }
    &__chart{
        flex: 1 1 0;
        display: flex;
    }
}

.seo-chart{
    width: 100%;
    
}

.slider-nav{
    display: flex;

    &__btn{
        width: 4.5rem;
        height: 4rem;
        background: $secondary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background .1s;
        &:hover{
            background: darken($secondary, 10%)
        }
        &:before{
            font-family: FontAwesome;
            line-height: 1;
            font-size: 1.6rem;
        }
        &[data-prev]:before{
            content: '';
        }
        &[data-next]:before{
            content: '';
        }
        &_active{
            background-color: $secondary;
            color: white;
        }
        &_disbled, &_disabled:hover{
            background-color: #f2f2f2;
            color: #2f3238;
        }
        &:first-child{
            margin-right: 0.3rem;
        }
    }
}

.contacts-table{
    display: table;
    &__row{
        display: table-row;
        >*{
            padding: .7rem 0;
            display: table-cell;
        }
    }
    .fa{
        color: $secondary;
        margin-right: 0.9rem;
        width: 1.3rem;
        text-align: center;
    }
    &__name{
        padding-right: 3rem;
        white-space: nowrap;
    }
}

.contacts-map{
    height: 51.7rem;
    img{
        height: 100%;
        width: 100%;
    }
}

.contacts-bottom{
    padding: 9rem 0;
}

.contacts{
    &__header{
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 900;
        margin-bottom: 2.8rem;
    }
    &-form{
        margin-right: 3em;
        &__row{
            display: flex;
            margin: 0 -1rem;
            &>*{
                flex: 1 1 0;

            }
            &:not(:first-child){
                margin-top: 2rem;
            }
        }
        &__col{
            padding: 0 1rem;
        }
    }
}
/*-------------------------------------------------*/
/*  END: elements */
/*-------------------------------------------------*/

@keyframes fadeInDown{
    from{
        transform: translate(0, -50%);
        opacity: 0;
    }
    to{
        transform: translate(0, -0%);
        opacity: 1;
    }
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translate(0, 50%);
    }
    to{
        transform: translate(0, -0%);
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*-------------------------------------------------*/
/*  START: fix icons */
/*-------------------------------------------------*/
.icm{
    &-9{
        font-size: 0.8em;
    }
    &-7, &-3{
        font-size: 1.2em;
    }
}
/*-------------------------------------------------*/
/*  END: fix icons */
/*-------------------------------------------------*/


@media screen and (max-width: 1250px){
    .contacts{
        &-map{
            height: 40rem;
        }
    }
    .home-first{
        &__header{
            font-size: 2.7rem;
        }
        &__container{
            min-height: 60rem;
            max-height: 768px;
        }
        &__bottom{
            &:before{
                font-size: 14px;
            }
        }
    }

    .home-feature{
        &__ico{
            font-size: 2.5rem;
        }
        &__name{
            font-size: 1.7rem;
        }
    }
    .header-top .ico-text{
        font-size: 1.1rem;
    }
    .services{
        &__container,&__col{
            padding: 0 1rem;
        }
        &__col{
            margin-bottom: 2rem;
        }
        &__row{
            margin: 0 -1rem;
        }
    }
    .section{
        padding: 13rem 0;
    }
}

@media screen and (max-width: 991px){
    .portfolio-item{
        padding-top: 48%;
        background-repeat: no-repeat;
        background-size: contain;
        &__params{
            width: 100%;
            flex: 0 0 100%;
            min-width: 0;
        }
    }
    .contacts{
        &-map{
            height: 35rem;
        }
        &-form{
            margin-right: 0;
        }
    }
    .service{
        padding: 6rem 0;
        &__row{
            flex-direction: column;
        }
        &__col{
            flex: 0 1 auto !important;
        }
        &__col:first-child{
            padding-right: 0;
            margin-bottom: 5rem;
        }
    }
    .main-header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
    }
    body{
        padding-top: 7.6rem;
    }
    .h{
        $scale: 1.2;
        margin-bottom: (1.8rem / $scale);
        &_xl{
            font-size: (3.4rem / $scale);
        }
        &_l{
            font-size: (2.8rem / $scale);
        }
        &_m{
            font-size: (2.5rem / $scale);
        }
        &-dec{
            font-size: (1.7rem / $scale);
            margin-bottom: (2.3rem / $scale);
        }
        &-wrapper{
            margin-bottom: (5.6rem / $scale);
        }
    }
    .section{
        padding: 7rem 0;
    }
    .home-first{
        &__container{
            height: auto !important;
        }
        &__bottom{
            &:before{
                font-size: 10px;
            }
            
        }
    }
    .header-main{
        padding: 2rem 0;
    }
    .main-nav,
    .header-top{
        display: none;
    }
    .main-footer{
        padding: 2rem 0;
        text-align: center;
        &__row{
            justify-content: center;
        }
    }
    .callback-form{
        padding: 7rem 0;
        &__logo{
            .logo{
                &__img{
                    img{
                        width: 6rem;
                    }
                }
                &__text{
                    font-size: 1.6rem;
                }
            }
        }
        &__sep{
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}

@media screen and (max-width: 767px){
    .contacts{
        &-bottom{
            padding: 5rem 0;
        }
        &-map{
            height: 25rem;
        }
        &-form{
            margin-right: 0;
        }
    }
    body{
        padding-top: 5.6rem;
    }
    .column-content{
        columns: 1;
    }
    .content-section{
        padding: 5rem 0;
    }
    .logo{
        &__img{
            img{
                width: 5rem;
            }
        }
        &__text{
            font-size: 1.6rem;
        }
    }
    .header-main{
        padding: 1rem 0;
        .btn[data-responsive-ico]{
            &:before{
                font-size: 1.5rem;
            }
        }
    }
    .reviews{
        padding: 5rem 0;
    }
    .reviews-slider{
        &-container{
            &__nav{
                width: 6rem;
                height: 6rem;
            }
            &__slider{
                max-width: 30rem;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }
        }
    }
    .review-item{
        &__name{
            font-size: 1.4rem;
        }
        &__photo{
            width: 10rem;
            height: 10rem;
        }
        &__content{
            padding-left: 1rem;
            padding-right: 2rem;
        }
    }
    .home-first{
        &__header{
            font-size: 2.2rem;
            max-width: 400px;
        }
        &__desc{
            max-width: 360px;
        }
        &__bottom{
            &-inner{
                padding: 2rem 0;
            }
            .row{
                flex-direction: column;
            }
            .col{
                flex: 0 1 auto;
                margin: 1rem 0;
            }
            &:before{
                font-size: 7px;
            }
        }
    }
    .service-item{
        padding: 2rem;
    }
    .callback-form{
        padding: 5rem 0;
        &__row{
            flex-direction: column;
        }
        &__content{
            margin-bottom: 3rem;
            text-align: center;
        }
        &__btn{
            margin-left: 0;
        }
        &__sep,
        &__logo{
            display: none;
        }
    }
}

@media screen and (max-width: 575px){
    body{
        padding-top: 5.2rem;
    }
    .portfolio-item{
        &__name{
            font-size: 1.4rem;
        }
        &__params{
            padding: 2rem 1rem;
        }
    }
    .contacts-map{
        height: 20rem;
    }
    .contacts-table{
        &__name{
            padding-right: 1rem;
        }
    }
    .breadcrumbs{
        &__item{
            overflow: hidden;
            max-width: 10rem;
            text-overflow: ellipsis;
        }
    }
    .service{
        &-feature{
            &__ico{
                flex: 0 0 5rem;
                width: 5rem;
                height: 5rem;
                font-size: 2rem;
            }
        }
    }
    .home-first{
        background-size: auto 400px;
        position: relative;
        text-shadow: 0 0 1px white;
        &>*{
            position: relative;
            z-index: 1;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;left: 0;bottom: 0;
            background: rgba(white,.4);
            position: absolute;
        }
        &__header{
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
            br{
                display: none;
            }
        }
        &__desc{
            
            color: black;
            
            br{
                display: none;
            }
        }
    }
    .reviews-slider-container{
        flex-wrap: wrap;
        justify-content: center;
        &__slider{
            order: -1;
            flex-basis: 0 0 100%;
            margin-bottom: 2rem;
        }
        &__nav{
            margin: 0 1rem;
        }
    }
    .btn[data-responsive-ico]{
        font-size: 0;
        padding: 0;
        height: auto;
        border-radius: 50%;
        min-height: 0;
        &:before{
            content: attr(data-responsive-ico);
            font-size: 2rem;
            font-family: FontAwesome;
            line-height: 1;
            flex: 0 0 2em;
            line-height: 0;
            min-width: 2em;
            height: 2em;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .services{
        padding-bottom: 5rem;
    }
}

