@import "_mixins";

/*-------------------------------------------------*/
/*  font-family
/*-------------------------------------------------*/
$ff-primary: Roboto, sans-serif;
$ff-secondary: 'Roboto Slab', serif;

// ---------------------------
// colors
// ---------------------------
$black: #000;
$white: #fff;
$blue: hsl(199, 73%, 53%); //#2ea7df
$lightblue: hsl(199, 85%, 50%); //#14a8ec
$purple: #324096;
$red: #f44336;

// set pseudo
$primary: $blue;
$primary-light: $lightblue;
$info: $purple;
$danger: $red;

$muted600: #222;
$muted500: #555;
$muted400: #777;
$muted300: #999;
$muted200: #cecece;
$muted100: #ddd;

//radius 
$bdrs-button: 9999px;
$bdrs-big: 2rem;
$bdrs-small: 1rem;

// button border color
$border-color: #e5e5e5;
$border-default: 1px solid $border-color;

//shadow
$shadow-s: 0 0.5rem 1.8rem rgba($primary, 0.18);
$shadow-md: 0 1rem 3.9rem 0.1rem rgba($primary, 0.46);
$shadow-l: 0 0.5rem 4rem rgba($primary, 0.1);
$shadow-hover: 0 0.5rem 1.8rem 0.1rem rgba($primary, 0.76);
$shadow-light: 0 1rem 3.9rem 0.1rem rgba(229, 229, 229, 0.46);

// text colors
$white-text: $white;
$default-text: $muted600;
$light-text: $muted500;
$primary-btn-text: $white-text;

//text sizes
$fz-s3: 1.2rem;
$fz-s2: 1.3rem;
$fz-s1: 1.4rem;
$fz-m: 1.6rem;
$fz-l1: 1.8rem;
$fz-l2: 2.4rem;
$fz-l3: 3.0rem;
$fz-l4: 3.6rem;
$fz-l5: 6.0rem;

//headers prarams
$h_l_color: $black;
$h_l_size: $fz-l3;
$h_l_weigth: bold;

$h_m_color: $black;
$h_m_size: $fz-l2;
$h_m_weigth: bold;

$h_s_color: $black;
$h_s_size: $fz-l1;
$h_s_weigth: bold;

$h_xs_color: $black;
$h_xs_size: $fz-m;
$h_xs_weigth: bold;

// ---------------------------
// colors
// ---------------------------
// buttons colors
$button-colors: (
    primary: $primary,
    white: $white
);
// text-colors
$text-colors: (
    primary: $primary,
    danger: $danger,
    muted100: $muted100,
    muted200: $muted200,
    muted300: $muted300,
    muted400: $muted400,
    muted500: $muted500
);
// text-sizes
$text-size: (
  fz-s3: 1.2rem,
  fz-s2: 1.3rem,
  fz-s1: 1.4rem,
  fz-m: 1.6rem,
  fz-l1: 1.8rem,
  fz-l2: 2.4rem,
  fz-l3: 3.0rem,
  fz-l4: 3.6rem,
  fz-l5: 6.0rem
);
// backgrounds
$backgrounds-colors: (
  white: $white,
  primary: $primary,
  muted100: $muted100,
  muted200: $muted200,
  muted300: $muted300,
  muted400: $muted400
);

// ---------------------------
// body
// ---------------------------
$body-font-size: 16;
$body-background-color: $white;
$body-font-family: $ff-primary;

// ---------------------------
// bootstrap grid
// ---------------------------

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem,
  7: 7rem,
  8: 8rem
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);
// stylelint-enable

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$enable-grid-classes:       true !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1230px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 960px,
  xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;